<!-- <% include footers/footer-2 %> -->
<!-- <% include footers/footer-1 %> -->
<% include footers/footer-3 %>


<script src="/reload/reload.js"></script>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/main.js"></script>

</body>