<div class="app-footer-2 py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3>Event Detail</h3>
                    <p>
                        <span>January 24 to 27, 2019</span><br>
                        Mirpur Dosh, Dhaka Street New York, USA
                    </p>
                    <p>
                        <i class="fas fa-map"></i> View Map Location
                    </p>
                </div>
                <div class="col-md-3">
                    <h3>
                        Useful Links
                    </h3>
                    <ul>
                        <li>About Eventa</li>
                        <li>Speakers</li>
                        <li>Tickets</li>
                        <li>Pricing Table</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>
                        Social Updates
                    </h3>
                    <p>
                        Cheeky bugger a blinding shot jolly good lavatory vagabond easy peasy!
                    </p>
                    <div>
                        <i class="fab fa-facebook-f cubed cubed--dark"></i>
                        <i class="fab fa-linkedin-in cubed cubed--dark"></i>
                        <i class="fab fa-youtube cubed cubed--dark"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>