i.cubed {
    border: 1px solid rgba(255,255,255,.5);
    padding: 6px 8px;
}
i.cubed--dark {
    border: 1px solid rgba(0,0,0,.25);
}
.btn-midsize {
    padding-left: 30px;
    padding-right: 30px;
}
.iconset-1 {
    display: flex;
}
.iconset-1 .rws-title {
    font-size: 20px;
}
.iconset-1 p {
    color: #777;
    line-height: 1.4;
}
.iconset-1 i {
    font-size: 42px;
}
.iconset-1 i.fab {
    font-size: 38px;
}
.iconset-1 .left {
    margin-right: 20px;
}
.rws-listgroup-1, .app-footer-1 .btn {
    text-align: left;
}
.footer-bottom i {
    color: #EEE;
}
.app-contact-1 input, .app-footer-1 textarea {
  border: 0;
  border-bottom: 1px solid #DDD;
  padding-bottom: 4px;
}
.app-footer-3 {
    color: white;
    background: #1b1b1b;
}
.app-footer-3 .logo {
    width: 240px;
}
.app-footer-3 hr {
    border-color: #444;
}
.app-footer-3 .btn {
    border-radius: 0;
    font-size: 14px;
}
.app-products ul.nav a {
    color: $dark;
    font-weight: bold;
}
.app-products ul.nav a.active, .app-products ul.nav a:hover {
    color: $primary;
}
.app-latest-blogs img {
    max-width: 275px;
}
.app-latest-blogs .title {
    text-transform: uppercase;
    font-size: 16px;
}

.app-contact form {
    background: $primary;
    color: white;
}
.app-contact input,
.app-contact textarea,
.app-contact input:focus,
.app-contact textarea:focus {
    background: $primaryDarker;
    color: white;
    border: none;
}

.app-contact input::placeholder,
.app-contact textarea::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

.app-contact input:-ms-input-placeholder,
.app-contact textarea::placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.app-contact input::-ms-input-placeholder,
.app-contact textarea::placeholder {
    /* Microsoft Edge */
    color: white;
}