// colors
$primary: #e2e253;
$primaryHover: #e6e643;
$primaryDarker: #d6d653;
$splitComplimentary1: #ce2f7e;
$splitComplimentary1: #7e2fce;
$triadic: #ad4545;
$triadic2: #2f2fce;
$analogous1: #6eb922;
$analogous2: #cea62f;
$dark: #444;
$medium: #777;

// fonts
$fontBody: "Roboto", sans-serif;
$fontHeadings: "Poppins", serif;
$cursive: "Pacifico", serif;

$nav-font-sizes: (
    null : 14px,
    1024px : 15px,
    1366px : 16px,
    1600px : 18px,
    1920px : 22px
);
$p-font-sizes: (
    null : 17px,
    1024px : 18px,
    1366px : 19px,
    1600px : 20px,
    1920px : 22px
);
$icon-sizes : (
    null : 20px,
    1024px : 24px,
    1600px : 30px
);
$logo-sizes: (
    null : 36px
);
$title1-sizes: (
    null : 44px,
    1024px : 52px,
    1920px : 56px
);
$title2-sizes: (
    null : 38px,
    1024px : 40px,
    1366px : 42px,
    1920px : 44px
);
$row-space-1: 45px;
$row-space-2: 60px;
$row-space-3: 75px;
$row-space-4: 90px;